j2e/webapp/src/main/resources/CoordinatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://event.webservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CoordinatorServiceService" targetNamespace="http://event.webservice/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://event.webservice/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://event.webservice/">
  <xs:element name="register" type="tns:register"/>
  <xs:element name="registerResponse" type="tns:registerResponse"/>
  <xs:complexType name="register">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:coordinator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coordinator">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="eventsCreated" nillable="true" type="tns:event"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="event">
    <xs:sequence>
      <xs:element minOccurs="0" name="coordinator" type="tns:coordinator"/>
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="nbPeople" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="rooms" nillable="true" type="tns:room"/>
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="room">
    <xs:sequence>
      <xs:element name="capacity" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="events" nillable="true" type="tns:event"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="roomType" type="tns:roomType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="roomType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MEETING_ROOM"/>
      <xs:enumeration value="MEAL"/>
      <xs:enumeration value="LEARNING_CENTRE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserAlreadyExistsException" type="tns:UserAlreadyExistsException"/>
  <xs:complexType name="UserAlreadyExistsException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidRequestParametersException" type="tns:InvalidRequestParametersException"/>
  <xs:complexType name="InvalidRequestParametersException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="UserAlreadyExistsException">
    <wsdl:part element="tns:UserAlreadyExistsException" name="UserAlreadyExistsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="register">
    <wsdl:part element="tns:register" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidRequestParametersException">
    <wsdl:part element="tns:InvalidRequestParametersException" name="InvalidRequestParametersException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part element="tns:registerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ICoordinatorService">
    <wsdl:operation name="register">
      <wsdl:input message="tns:register" name="register">
    </wsdl:input>
      <wsdl:output message="tns:registerResponse" name="registerResponse">
    </wsdl:output>
      <wsdl:fault message="tns:UserAlreadyExistsException" name="UserAlreadyExistsException">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidRequestParametersException" name="InvalidRequestParametersException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoordinatorServiceServiceSoapBinding" type="tns:ICoordinatorService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="register">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="register">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserAlreadyExistsException">
        <soap:fault name="UserAlreadyExistsException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidRequestParametersException">
        <soap:fault name="InvalidRequestParametersException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoordinatorServiceService">
    <wsdl:port binding="tns:CoordinatorServiceServiceSoapBinding" name="CoordinatorServicePort">
      <soap:address location="http://localhost:8080/j2e-interface-1.0-SNAPSHOT/webservices/CoordinatorService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>